site_name: Curve Resources
site_url: https://resources.curve.fi/
site_author: CurveFi

plugins:
  - search
  - autolinks
  - git-revision-date-localized:
      type: timeago
  - minify:
      minify_html: true

nav:
  - index.md  
  - Getting Started:
    - Understanding Curve (v1): base-features/understanding-curve.md  
    - Understanding CryptoPools (v2): base-features/understanding-crypto-pools.md  
  - $CRV Token:
    - Understanding CRV: crv-token/understanding-crv.md
    - CRV Basics: crv-token/crv-basics.md
    - CRV Tokenomics: crv-token/crv-tokenomics.md
    - Staking your CRV: crv-token/staking-your-crv.md
    - Claiming trading fees: crv-token/claiming-trading-fees.md
  - $crvUSD:
    - Understanding crvUSD: crvusd/understanding-crvusd.md
    - Markets: crvusd/markets.md
    - Loan Creation and Management: crvusd/loan-creation.md
    - Loan details: crvusd/loan-details.md
    - crvUSD FAQ: crvusd/faq.md
  - Liquidity Providers:
    - Understanding curve pools: lp/understanding-curve-pools.md
    - Base- and Metapools: lp/base-and-metapools.md
    - Deposit FAQ: lp/deposit-faqs.md
    - Calculating yield: lp/calculating-yield.md
    - Depositing:
      - Overview: lp/depositing.md
      - Despositing into the tri-pool: lp/depositing/depositing-into-the-tri-pool.md
      - Despositing into a metapool: lp/depositing/depositing-into-a-metapool.md
      - Despositing into the susd-pool: lp/depositing/depositing-into-the-susd-pool.md
      - Despositing into a cryptoswap-pool: lp/depositing/depositing-into-a-cryptoswap-pool.md
      - Despositing into a tricrypto-pool: lp/depositing/depositing-into-a-tricrypto-pool.md
  - Reward Gauges:
    - Understanding gauges: reward-gauges/understanding-gauges.md
    - Creating a pool gauge: reward-gauges/creating-a-pool-gauge.md
    - Boosting your CRV rewards: reward-gauges/boosting-your-crv-rewards.md
    - Gauge weights: reward-gauges/gauge-weights.md
    - Set any token reward: reward-gauges/token-reward-for-gauges.md
  - Governance:
    - Understanding governance: governance/understanding-governance.md
    - Voting: governance/voting.md
    - Snapshot: governance/snapshot.md
    - Vote-locking FAQ: governance/vote-locking-boost.md
    - Proposals:
      - Proposals: governance/proposals.md
      - Community fund: governance/proposals/community-fund.md
      - Creating a DAO proposal: governance/proposals/creating-a-dao-proposal.md
  - Multi-Chain:
    - Understanding multi-chain: multichain/understanding-multichain.md
    - Bridging funds: multichain/bridging-funds.md
  - Factory Pools:
    - Understanding pool factory: factory-pools/pool-factory.md
    - Creating a stableswap pool: factory-pools/creating-a-stableswap-pool.md
    - Creating a cryptoswap pool: factory-pools/creating-a-cryptoswap-pool.md
    - Understanding oracles: factory-pools/understanding-oracles.md
  - Troubleshooting:
    - Support: troubleshooting/support.md
    - Cross-Asset swaps: troubleshooting/cross-asset-swaps.md
    - Recovering cross-asset swaps: troubleshooting/recovering-a-cross-asset-swap.md
    - Dropping and replacing a stuck transaction: troubleshooting/dropping-and-replacing-a-stuck-transaction.md
    - Disabling crypto wallets in brave: troubleshooting/disabling-crypto-wallets-in-brave.md
  - Appendix:
    - Security: faq/security.md
    - Glossary: faq/glossary.md
  - Links:
    - Curve.fi: https://curve.fi/#/ethereum/swap
    - Curve DAO: https://dao.curve.fi/
    - Github: https://github.com/curvefi/
    - Governance Forum: https://gov.curve.fi/
    - Twitter: https://twitter.com/curvefinance
    - Technical Docs: https://docs.curve.fi/

# extension
markdown_extensions:
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
      baselevel: 2
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  # - pymdownx.arithmatex:
  #     generic: true

theme:
  name: material
  include_search_page: false
  search_index_only: true
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/logo.png"
  favicon: "images/logo.png"
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
  palette:
    - scheme: default
      primary: black
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css:
  - 'stylesheets/extra.css'

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

repo_name: CurveDocs/curve-resources
repo_url: https://github.com/CurveDocs/curve-resources
