.md-content a:link {
  text-decoration:underline;
}

.md-typeset a:hover {
  color: rgb(30, 144, 255);
  text-decoration:underline;
}

.md-typeset h1 {
  font-size: 32px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.md-typeset h2 {
  font-size: 24px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

:root {
    --md-admonition-icon--description: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 1.5a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25H1.75zM0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25V1.75zm9.22 3.72a.75.75 0 0 0 0 1.06L10.69 8 9.22 9.47a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 0 0-1.06 0zM6.78 6.53a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06L5.31 8l1.47-1.47z"/></svg>')
}
.md-typeset .admonition.description,
.md-typeset details.description {
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title,
.md-typeset .description > summary {
  background-color: rgba(30, 144, 255, 0.3);
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title::before,
.md-typeset .description > summary::before {
  background-color: rgb(30, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--description);
          mask-image: var(--md-admonition-icon--description);
}

:root {
  --md-admonition-icon--pdf: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M64 464h32v48H64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0h165.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V288h-48V160h-80c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16v384c0 8.8 7.2 16 16 16zm112-112h32c30.9 0 56 25.1 56 56s-25.1 56-56 56h-16v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24h-16v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48h-32c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16v-64c0-8.8-7.2-16-16-16h-16v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16h-32v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16h-32v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V368z"/></svg>')
}
.md-typeset .admonition.pdf,
.md-typeset details.pdf {
border-color: rgb(236, 28, 36);
}
.md-typeset .pdf > .admonition-title,
.md-typeset .pdf > summary {
background-color: rgb(236, 28, 36, 0.2);
border-color: rgb(236, 28, 36);
}
.md-typeset .pdf > .admonition-title::before,
.md-typeset .pdf > summary::before {
background-color: rgb(236, 28, 36);
-webkit-mask-image: var(--md-admonition-icon--pdf);
        mask-image: var(--md-admonition-icon--pdf);
}

th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    font-size: 12px;
}

th {
    background: dimgrey;
    color: white;
}

.md-typeset__table {
    line-height: 1;

}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

.md-nav__item .md-nav__link {
    padding-left: 0px; 
}

.md-nav[data-md-level="1"] .md-nav__link {
    padding-left: 15px;
}

.md-nav[data-md-level="2"] .md-nav__link {
    padding-left: 30px;
}

.md-nav[data-md-level="3"] .md-nav__link {
    padding-left: 45px;
}

.md-nav[data-md-level="4"] .md-nav__link {
    padding-left: 60px;
}

.md-nav[data-md-level="5"] .md-nav__link {
    padding-left: 75px;
}
